<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div>
        <form action="/register" method="POST">
            <input type="text" name="email">
            <input type="password" name="password">
            <input type="submit" value="register">
        </form>
        <form action="/token_refresh" method="POST">
            <input type="submit" value="refresh">
        </form>
        <form action="/logout" method="POST">
            <input type="submit" value="logout">
        </form>
        <form action="/protected" method="POST">
            <input type="submit" value="vault">
        </form>
   </div> 
</body>
</html>
